*{
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}
.body{
    background-color: rgb(200, 200, 200);
}
ul{
    display: flex;/*display: flex; sin esto más de box modeline, pero me gusto más con*/
    text-align: right;
    justify-content: space-evenly;/*justify-content: space-between;*/
    padding: 1vw;
    max-width: 50vw;/*max-width: 500px;*/
    margin: 0 auto;  
    flex-direction: row;
}
ul li{ 
    list-style: none; 
}
ul li a{
    text-decoration: none; 
    color: rgba(70, 68, 68, 0.89);
    font-size: 1.8vw;
}
.lead{ 
    color: rgb(88, 88, 88); 
    font-weight: 6.25vw; 
    font-size: 1.5vw; 
    font-style:italic; 
    text-align: center;
    font-family: 'Roboto Slab', 
    serif;align-self: center;
} 
.logolead{
    display: flex; 
    flex-direction: row;
}
h1{
    color: rgba(70, 68, 68, 0.89);padding: 5vw 0 4vw 4.5vw;
}
.secciones{
    font-weight: 10vw;
    display: flex;
    justify-content: space-around;
    text-align:left;
    padding:2vw 4vw 0.5vw 0 ;
}
.secciones1{
    font-weight: 10vw;
    display: flex;
    justify-content: space-around;
    text-align:left;
    padding:2vw 4vw 0.5vw 0 ;
}
.parrafo{
    font-weight: 10vw;
    width: fit-content; 
    height: fit-content;
    margin-left: 2vw; 
    font-size: 1.5vw; 
    text-align:justify; 
    padding: 5vw; align-self: center;
}
strong{
    color: gray;
}
.foto2{
    width: 50vw; 
    padding: 2vw; 
    border-radius: 5vw;
}
.foto1{
    width: 50vw;
    text-align: center; 
    border-radius: 5vw;
}
.titulo{
    text-align: center; 
    color: rgb(112, 112, 112); 
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
}
.textocarousel{
    color: rgb(71, 71, 71); 
    font-size: 1.5vw;
    font-weight: 1vw;
    text-align: justify center;
    background-color: rgb(145, 145, 145);
}
.titulocarousel{
    text-align: justify center; 
    -webkit-text-fill-color: rgb(80, 80, 80);
    -webkit-text-stroke-width: 0.05vw; 
    -webkit-text-stroke-color: #ffffff;
}
.formulario{
    font-size: 1.5vw;
    background-color: rgb(176, 176, 176);
    width: 50%;
    display: flex; 
    flex-direction: column; 
    margin: 0 auto;
    border-radius: 1.5vw;
    padding: 2vw;
}
.formulario2{
    padding: 1vw;
}
.textoNosotros{
    text-align: center;
    text-align: justify;
    font-size: 1.5vw; 
    padding: 2.5vw; 
    background-image: linear-gradient(rgb(255, 255, 255),grey) 
} 
.video{
    display: flex; 
    flex-direction: column;
}
.video iframe { 
    padding-top: 2vw; 
    align-self: center; 
    width:65vw ; 
    height:35vw ;
}
.ubicaciontotal{
    display: flex; 
    flex-direction: column; 
}
.ubicaciontotal address{
    font-size: 1.5vw; 
    text-align: justify;
    padding-left: 2vw;
}
.ubicaciontotal iframe {
    margin: 0 auto; 
    padding: 3vw;
}
.wp{
    width: 0.5vw;
}
footer{
    margin-top: 4vw;
    background-color: grey;
    height: 20vw;text-align: center;
    width:100%;position: absolute; 
    display: flex;
    flex-direction: column; 
    justify-content: space-evenly;
}
.footertexto{
    font-size: 2vw;
    font-weight: 2vw; 
    color: rgb(255, 255, 255); 
}
.footertexto1{
    font-size: 2vw;
    font-weight: 2vw; 
    color: rgb(255, 255, 255); 
    margin-bottom: 2vw;
}
.imagenfooter{
    width: 4vw;
}
@media screen and (max-width: 576px) {
ul li a{
    font-size: 3vw; padding: 1vw;
    } 
.secciones{
    flex-direction: column;
    padding:2vw 4vw 0.5vw 0 ;
}
.secciones p{
    font-size: 4vw;
}
.secciones1{
    flex-direction: column-reverse;
    padding:2vw 4vw 0.5vw 0 ;
}
.secciones1 p{
    font-size: 4vw;
}
.secciones img {
    align-self: center;
}
.secciones1 img {
    align-self: center;
}
.foto2{
    width: 70vw;
}
.foto1{
    width: 70vw;
}
.textocarousel{ 
    font-size: 2.5vw;
    font-weight: 2vw;
}
.titulocarousel{
    -webkit-text-stroke-width: 0.09vw; 
}
.formulario{
    font-size: 2.5vw;
}
.textoNosotros{
    font-size: 3vw; padding: 3vw;
}
.video{ 
    padding: 7vw;
}
.ubicaciontotal address{
    font-size: 3vw; 
}
.ubicaciontotal iframe {
    width: 70vw;
}
.footertexto{
    font-size: 2.5vw;
    font-weight: 2.5vw;
}
.imagenfooter{
    width: 5vw;
}
}
