$color_1: rgb(88, 88, 88);
$color_2: rgba(70, 68, 68, 0.89);
$color_3: gray;
$color_4: rgb(112, 112, 112);
$color_5: rgb(71, 71, 71);
$color_6: rgb(255, 255, 255);
$font-family_1: 'Roboto Slab', serif;
$font-family_2: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
$background-color_1: rgb(200, 200, 200);
$background-color_2: rgb(145, 145, 145);
$background-color_3: rgb(176, 176, 176);
$background-color_4: grey;