/*El map está aplicado a el texto del carrusel de bootstrap*/
$textocarousel_style: (
    fondo:rgb(145, 145, 145),
    lugar: justify center,
    tamaño: 1rem,
    grueso: 1vw,
    colortexto: rgb(71, 71, 71),
    )