.lead {
	color: $color_1;
	font-weight: 6.25vw;
	font-size: 1rem;
	font-style: italic;
	text-align: center;
	font-family: $font-family_1;
	align-self: center;
}

.container-fluid a {
	font-size: 1.3rem;
}