.titulo {
	text-align: center;
	color: $color_4;
	font-family: $font-family_2;
}

.titulocarousel {
	text-align: justify center;
	-webkit-text-fill-color: rgb(80, 80, 80);
	-webkit-text-stroke-width: 0.05vw;
	-webkit-text-stroke-color: #ffffff;
}

.footertexto {
	font-size: 1.5rem;
	font-weight: 2vw;
	color: $color_6;
}

.footertexto1 {
	font-size: 1.5rem;
	font-weight: 2vw;
	color: $color_6;
	margin-bottom: 2vw;
}