@media screen and (max-width: 576px) {

	.logolead {
		max-width: 10%;

	}

	.secciones {
		flex-direction: column;
		padding: 2vw 4vw 0.5vw 0;

		p {
			font-size: 1.2rem;
		}

		img {
			align-self: center;
		}
	}

	.secciones1 {
		flex-direction: column-reverse;
		padding: 2vw 4vw 0.5vw 0;

		p {
			font-size: 1.2rem;
		}

		img {
			align-self: center;
		}
	}

	.foto2 {
		width: 70vw;
	}

	.foto1 {
		width: 70vw;
	}

	.textocarousel {
		font-size: 0.6rem;
		font-weight: 2vw;
	}

	.titulocarousel {
		-webkit-text-stroke-width: 0.09vw;
	}

	.formulario {
		font-size: 0.5rem;
		width: 80%;
		justify-content: center;
	}

	.textoNosotros {
		font-size: 1.3rem;
		padding: 3vw;
		margin-left: 1.1vw;
		margin-right: 1.1vw;
	}

	.video {
		padding: 7vw;
	}

	.ubicaciontotal {
		address {
			font-size: 1rem;
			margin-left: 1.2vw;
		}

		iframe {
			width: 80%;
			height: 100%;
			margin: 10%;
			justify-content: center;
		}
	}

	footer {
		height: 30vw;
		width: 100%;
	}

	.footertexto {
		font-size: 0.6rem;
		font-weight: 2.5vw;
		padding-top: 10vw;
		justify-content: center;
	}

	.footertexto1 {
		font-size: 0.6rem;
		padding-bottom: 8vw;
		justify-content: center;
	}

	.imagenfooter {
		width: 3.5vw;
		padding-bottom: 1vw;
		justify-content: center;
	}
}